<h1>Home#who_are_we</h1>
<p>Find me in app/views/home/who_are_we.html.erb</p>
<p> <%= @name%> </p>
<% if flash[:notice] %>
    <div> <%= flash[:notice] %> </div>
<% end %> 
<% if flash[:error] %>
    <div> <%= flash[:error] %> </div>
<% end %>